/*--------------------------------------------------------------
Avant - Transparent Header
--------------------------------------------------------------*/
/* -- Header Extra Nav -- */
.avant-header-nav {
    float: right;
}
.site-top-bar-switch .avant-header-nav {
    float: left;
}
.avant-header-nav ul {
    margin: 0;
    padding: 0;
}
.avant-header-nav ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    position: relative;
}
.avant-header-nav ul li a {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    color: inherit;
    padding: 7px 10px;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.08);
}

.avant-header-nav ul ul {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  float: left;
  position: absolute;
  top: 30px;
  right: -999em;
  z-index: 99999;
  padding: 0;
  display: none;
}
.avant-header-nav ul ul ul {
  right: -999em;
  top: 0;
  display: none;
}
.avant-header-nav ul ul li {
    float: none;
    width: 100%;
    display: block;
    position: relative;
    min-width: 150px;
    text-align: left;
    white-space: nowrap;
}
.avant-header-nav ul ul li a {
    min-width: 110px;
    padding: 7px 10px 8px;
}
.avant-header-nav ul ul li:hover {
    background-color: rgba(0, 0, 0, 0.02);
}
.avant-header-nav ul li:hover > ul,
.avant-header-nav ul li.focus > ul {
    right: 0;
    display: block;
}
.avant-header-nav ul ul li:hover > ul,
.avant-header-nav ul ul li.focus > ul {
    right: 100%;
    display: block;
}

.site-top-bar .avant-header-nav ul li a {
    padding: 8px 10px 7px;
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.08);
}

.side-aligned-social {
    top: 155px;
}

/* -- Site Top Bar -- */
.site-top-border {
    z-index: 101;
}
.site-top-bar {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08) inset;
    background-color: #353738;
    color: #FFF;
}
.site-top-bar > .site-container {
    position: relative;
}
.site-top-bar-left {
    background-color: #353738;
    float: left;
    width: 50%;
    padding: 2px 0 7px;
    min-height: 32px;
    position: relative;
    z-index: 101;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08) inset;
}
.site-topbar-no,
.site-topbar-ad{
    display: inline-block;
    vertical-align: bottom;
    font-size: 11px;
    letter-spacing: 1px;
    color: inherit;
    margin: 0 8px 0 0;
}
.site-topbar-ad i.fa {
    position: relative;
    top: -1px;
}
.site-top-bar-right {
    background-color: #353738;
    float: right;
    width: 50%;
    text-align: right;
    min-height: 32px;
    position: relative;
    z-index: 101;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08) inset;
}

.site-top-bar-switch .site-top-bar-left {
    float: right;
    text-align: right;
}
.site-top-bar-switch .site-top-bar-right {
    float: left;
    text-align: left;
}
.site-top-bar-switch .site-topbar-no,
.site-top-bar-switch .site-topbar-ad {
    margin: 0 0 0 8px;
}
.site-top-bar.site-header-layout-one.site-top-bar-switch .avant-header-nav ul li a {
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.08);
    padding: 8px 10px 7px 10px;
}
.site-top-bar.site-header-layout-one.site-top-bar-switch .avant-header-nav > ul > li:first-child > a {
    padding: 8px 10px 7px 0;
}

.site-top-bar-switch .avant-header-nav ul {
    right: auto;
    left: -999em;
}

.site-top-bar-switch .avant-header-nav li:hover > ul,
.site-top-bar-switch .avant-header-nav li:focus > ul {
    right: auto;
    left: 0;
    display: block;
}
.site-top-bar-switch .avant-header-nav li ul li:hover > ul,
.site-top-bar-switch .avant-header-nav li ul li:focus > ul {
    right: auto;
    left: 100%;
    display: block;
}

/* -- Site Header -- */

.site-header {
    margin: 0;
    position: absolute;
    z-index: 99;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
}
.site-header.site-header-layout-six > .site-container {
    padding: 0 40px;
}
.site-header.site-header-nobanner,
body.single-product.woocommerce .site-header {
    position: relative;
    margin: 0 0 60px;
}
.content-boxed .site-header.site-header-nobanner {
    margin: 0;
}

.site-header-top {
    color: #000;
    float: right;
    padding: 0 20px 0 0;
}
.site-header-switch .site-header-top {
    float: left;
    padding: 0 0 0 5px;
}
.site-header-top-left {
    float: left;
}
.site-header-top-right {
    float: right;
}

.site-header-switch .site-header-top-left {
    float: right;
}
.site-header-switch .site-header-top-right {
    float: left;
}
.site-header-switch a.header-cart-contents {
    padding: 16px 1px 18px 15px;
}
.site-header-switch .menu-search {
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.08) inset;
    text-align: right;
    float: left;
    margin: 0 8px 0 0;
    padding: 10px 10px 11px 0;
}
.site-top-bar-switch .search-block {
    right: auto;
    left: 52px;
}

.site-branding {
    padding: 15px 0 20px 20px;
    float: left;
}
.site-header-switch .site-branding {
    float: right;
    text-align: right;
    padding: 15px 20px 20px 0;
}
.site-branding a {
    display: block;
    margin: 0 auto;
}
.site-branding a img {
    display: block;
}
.site-title {
    margin: 0;
    padding: 0;
    font-size: 56px;
    line-height: 58px;
    font-weight: 300;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3);
}
.site-title a {
    color: #000 !important;
}
.site-description {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    color: inherit;
}

.site-top-bar .social-icon {
    color: inherit;
    float: right;
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.08);
    margin: 0;
    padding: 5px 6px 4px;
}
.site-top-bar-switch .social-icon {
    float: left;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.08);
}

#primary-menu,
#main-menu > div {
    display: inline-block;
    vertical-align: top;
}

.header-cart {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
}
a.header-cart-contents {
    color: inherit !important;
    padding: 16px 0 18px 15px;
    display: block;
}
.site-top-bar .header-cart a.header-cart-contents {
    padding: 8px 10px 7px;
}
.header-cart-amount {

}
.header-cart-checkout {
    margin: 0 0 0 4px;
    position: relative;
    top: -1px;
}
.menu-search {
    float: right;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.08) inset;
    text-align: right;
    margin: 0 0 0 1px;
    padding: 1px 0 1px 5px;
    font-size: 13px;
}
.search-btn {
    display: block;
    padding: 8px 5px 9px;
    cursor: pointer;
}

.search-block {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
    position: absolute;
    background-color: #353738;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    bottom: 2px;
    right: 21px;
    padding: 36px 9px 9px;
    z-index: 100;

    -webkit-transition: bottom 0.3s ease 0s;
    -moz-transition: bottom 0.3s ease 0s;
    -ms-transition: bottom 0.3s ease 0s;
    -o-transition: bottom 0.3s ease 0s;
    transition: bottom 0.3s ease 0s;
}
.search-block .search-field {
    font-size: 13px;
    margin: 0;
    padding: 5px 8px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-color: #FFF;
    width: 310px;
    font-weight: 200;
    outline: none;
    color: #000;
    box-sizing: border-box;
}
.search-block .search-submit {
    display: none;
}
.site-top-bar-switch .menu-search {
    float: left;
    padding: 1px 5px 1px 0;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.08);
}
.site-top-bar-switch .search-block {
    right: auto;
    left: 21px;
}

.show-site-search .search-block {
    bottom: -76px;
}

.home-slider-block-inner {
    top: 100px;
}
.home-slider-wrap-hint {
    top: auto;
    bottom: 0;
    border-radius: 4px 4px 0 0;
}

/* -- Site Boxed -- */
.site-boxed .site-top-bar .site-container {
    padding: 0 20px;
}
.site-boxed .site-header {
    max-width: 1240px;
}

/* -------- Naviagtion Elements -------- */
#main-menu {
    text-align: center;
}
.main-navigation {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
.main-navigation li a {
    padding: 43px 16px 45px;
}
.main-navigation ul ul {
    top: 105px;
}
.main-navigation ul ul li {
    position: relative;
}
.main-navigation ul ul ul {
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    right: auto;
    left: 0;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    right: auto;
    left: 100%;
}

/* ---- Menu Switch Class ---- */

.main-navigation .nav-switch ul {
    left: auto;
    right: -999em;
}

.main-navigation li.nav-switch:hover > ul,
.main-navigation li.nav-switch:focus > ul {
    left: auto;
    right: 0;
    display: block;
}
.main-navigation li.nav-switch ul li:hover > ul,
.main-navigation li.nav-switch ul li:focus > ul {
    left: auto;
    right: 100%;
    display: block;
}

.main-navigation li.nav-sub-switch:hover > ul,
.main-navigation li.nav-sub-switch:focus > ul {
    left: auto;
    right: 100%;
    display: block;
}

.main-navigation li.nav-sub-switch-all:hover > ul,
.main-navigation li.nav-sub-switch-all:focus > ul,
.main-navigation li.nav-sub-switch-all ul li:hover > ul,
.main-navigation li.nav-sub-switch-all ul li:focus > ul {
    left: auto;
    right: 100%;
    display: block;
}

@media screen and (max-width: 980px) {
    
    .header-menu-button {
        display: block;
        padding: 42px 10px 43px 60px;
        text-transform: uppercase;
        font-size: 12px;
        cursor: pointer;
        text-align: center;
    }
    .site-header-switch .header-menu-button {
        padding: 42px 60px 43px 10px;
    }
    .header-menu-button i {
        font-size: 11px;
        vertical-align: middle;
    }
    .header-menu-button span {
        vertical-align: middle;
        margin: 0 0 0 6px;
    }
    
    body.admin-bar #main-menu {
        padding: 87px 20px 30px 20px;
    }
    body.admin-bar .main-menu-close {
        top: 45px;
    }

}

@media only screen and (max-width: 782px) {
    
    .site-header {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
        position: relative;
    }
    .site-top-bar .site-container {
        padding: 0;
    }
    .site-top-bar-left {
        float: none !important;
        width: 100%;
        text-align: center !important;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08) inset;
        padding: 0 0 4px;
        min-height: 29px;
    }
    .site-top-bar .social-icon,
    .menu-search,
    .site-topbar-right-no,
    .avant-header-nav {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    .site-top-bar-right {
        float: none !important;
        width: 100%;
        text-align: center !important;
        min-height: 29px;
    }
    .site-top-bar .avant-header-nav ul li:last-child a {
        box-shadow: -1px 0 0 rgba(0, 0, 0, 0.08), 1px 0 0 rgba(0, 0, 0, 0.08);
    }
    .site-top-bar.site-top-bar-switch .avant-header-nav ul li:last-child a {
        box-shadow: 1px 0 0 rgba(0, 0, 0, 0.08);
    }
    .site-top-bar.site-top-bar-switch .avant-header-nav ul li:first-child a {
        box-shadow: -1px 0 0 rgba(0, 0, 0, 0.08), 1px 0 0 rgba(0, 0, 0, 0.08);
    }
    .site-top-bar .avant-header-nav ul li a {
        padding: 6px 10px 7px !important;
    }
    .search-block {
        position: relative;
        display: none;
        top: 0 !important;
        bottom: 0 !important;
        left: 0;
        right: 0;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08) inset;
        padding: 9px;
    }
    .site-top-bar-switch .search-block {
        left: 0;
    }
    .menu-search {
        padding: 0;
        margin: 0 -3px 0 0;
    }
    .site-top-bar-switch .menu-search {
        float: none;
    }
    .search-btn {
        padding: 9px 10px;
    }
    .search-block .search-field {
        width: 100%;
    }
    .site-top-bar .avant-header-nav {
        float: none !important;
        display: inline-block !important;
    }
    .show-site-search .search-block {
        display: block;
    }
    .avant-header-nav ul ul {
        top: 28px;
    }
    
    .home-slider-header-six .home-slider-block {
        padding: 0;
    }
    .home-slider-block-inner {
        top: 0;
    }
    
    body.admin-bar #main-menu {
        padding: 101px 20px 30px 20px;
    }
    body.admin-bar .main-menu-close {
        top: 59px;
    }

}

@media only screen and (max-width: 640px) {
    
    .site-header .site-container {
        padding: 0;
    }
    .search-block {
        padding: 9px;
    }
    .site-branding,
    .site-header-switch .site-branding {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
        float: none;
        text-align: center;
    }
    .site-header-top,
    .site-header-switch .site-header-top {
        float: none;
        text-align: center;
    }
    .main-navigation {
        display: block;
    }
    .header-menu-button,
    .site-header-switch .header-menu-button {
        padding: 15px 10px 16px 10px;
    }
    .header-cart {
        display: none;
    }

}
